body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.slideshow{
    height:600px;
    
}

.icon{
    height: 150px;
    width: 150px;
    margin: auto;
}
#carouselExampleControls{
    padding: 10px;
}
.txt-col{
    color:black;
}

.card{
    transition: .5s ease;   
}

.percent{
    width: 100%;
    height: 350px;
    position: relative;
    background-color: #fd7272;
}

.clip{
    position:absolute;
    clip: rect(0px,20px,20px,0px);
}

.percent-pad{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
/* .nav-color{
    background-color:silver ;
} */

.circle{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(76, 77, 78);
    border: 10px solid rgb(76, 164, 247);
}

.footer{
    width: 100%;
    height: 300px;
    position: relative;
    background-color:rgba(5, 5, 59, 1);
}

.about{
    width: 100%;
    height:400px;
    position: relative;

}

.btn {
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    border-color: #286287;
    background: #286287;
}

.w300 {
    width: 100%;
    height: 40px;
    background-color: #d3d3d3;
    color: #696969;
}
